html {
  font-family: Georgia;
  background-color: #f0eee8;
  box-sizing: border-box;
}

h2 {
  color: black;
  font-family: "Dosis", sans-serif;
  color: #512200;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.link-card {
  display: inline-block;
  border: solid 3px #9a816d;
  border-radius: 4px;
  max-width: 17rem;
  text-decoration: none;
  padding: 1rem;
  color: #512200;
  background-color: #dcd4cd;
  line-height: 1.5rem;
}

.link-card .btn {
  background-color: #785439;
  color: white;
}

.btn-wrap {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #785439;
  border-radius: 5px;
  font-size: 1.125rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0 1rem 0;
  margin: 0;
  font-size: 0.875rem;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  line-height: 1.2rem;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: italic;
}
